
.Form {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 850px;
    margin-top: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 40px 30px;
    margin-left: 500px;
    border-radius: 5px;
}

.Form .cover {
    position: absolute;
    top: 0;
    left: 50%;
}




.Form .logo {
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 175px;

}

.cover .possibilities i{
    position: absolute;
    left: -10px;
    font-size: 16px;
    margin-left: 5px;
}

.Form .cover .possibility .text {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 500;
}

.Form .cover .possibility .possibilities {
    margin-top: 5px;
    margin-left: 15px;
    padding-top: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;

}



.Form form {
    height: 100%;
    width: 100%;
    background: #fff;
}

.Form .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .loginForm,
.content .signupForm {
    width: calc(100% / 2 - 25px);
}

form .content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

form .content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(45, 158, 17);
}

form .signupForm .title:before {
    width: 20px;
}

form .content .inputBoxes {
    margin-top: 20px;
}

form .content .inputBox {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0 10px;
    position: relative;
}

.content .inputBox input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.content .inputBox input:focus,
.content .inputBox input:valid {
    border-color: rgb(45, 158, 17);
}

.content .inputBox i {
    position: absolute;
    color: rgb(45, 158, 17);

    font-size: 17px;
}

form .content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;

}

form .content .text a {
    text-decoration: none;
}

form .content .text a:hover {
    text-decoration: underline;
}

form .content .button {
    color: #fff;
    margin-top: 40px;
}

form .content .button input {
    color: #fff;
    background: rgb(45, 158, 17);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .content .button input:hover {
    background: rgb(36, 136, 12);
}

form .content label {
    color: rgb(36, 136, 12);
    cursor: pointer;
}

form .content label:hover {
    text-decoration: underline;
}